image: nubika/sfdxplus

pipelines:
  pull-requests:
    '**': #this runs as default for any branch not elsewhere defined
      - step:
          name: Show SFDX Version
          runs-on:
            - self.hosted
          script:
            - sfdx update
            - sfdx --version
            - sfdx plugins --core
      - step:
          name: Check for Duplicates
          runs-on:
            - self.hosted
          script:
            - chmod +x scripts/bash/checkDuplicates
            - scripts/bash/checkDuplicates ./force-app ".cls\|.trigger"
      - step:
          name: Validate
          runs-on:
            - self.hosted
          script:
            - '[[ "${BITBUCKET_PR_DESTINATION_BRANCH}" == "main" ]] && SFDX_AUTH_URL=$PRO_SFDX_AUTH_URL'
            - '[[ "${BITBUCKET_PR_DESTINATION_BRANCH}" == "uat" ]] && SFDX_AUTH_URL=$UAT_SFDX_AUTH_URL'
            - '[[ "${BITBUCKET_PR_DESTINATION_BRANCH}" == "develop" ]] && SFDX_AUTH_URL=$DEV_SFDX_AUTH_URL'
            - if [ -z "$SFDX_AUTH_URL" ]; then echo "No SFDX_AUTH_URL defined for branch ${BITBUCKET_PR_DESTINATION_BRANCH}"; exit; fi
            - echo $SFDX_AUTH_URL > sfdx_auth_url.txt
            - sfdx force:auth:sfdxurl:store --sfdxurlfile sfdx_auth_url.txt --setalias $SF_USERNAME --json
            - sfdx force:config:set defaultusername=$SF_USERNAME
            - sfdx config:get defaultusername
            #- tests=$(sfdx sfpowerkit:source:apextest:list -p force-app --json | jq -r '.result | join(",")')
            - tests=$(cat specifiedtests.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            - '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --log-level fatal --test-level NoTestRun --dry-run --verbose || sf project deploy start --source-dir force-app/ --log-level fatal --test-level RunSpecifiedTests --tests $tests --dry-run --verbose'
  branches:
    develop:
      - step:
          name: Show SFDX Version
          runs-on:
            - self.hosted
          script:
            - sfdx update
            - sfdx --version
            - sfdx plugins --core
      - step:
          name: Deploy to Test
          runs-on:
            - self.hosted
          deployment: Test
          script:
            - echo "No deploymens configured for develop"
            #- echo $DEV_SFDX_AUTH_URL > sfdx_auth_url.txt
            #- sfdx force:auth:sfdxurl:store --sfdxurlfile sfdx_auth_url.txt --setalias $SF_USERNAME --json
            #- sfdx force:config:set defaultusername=$SF_USERNAME
            #- sfdx config:get defaultusername
            #- tests=$(cat specifiedtests.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            #- '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --log-level fatal --test-level NoTestRun || sf project deploy start --source-dir force-app/ --log-level fatal --test-level RunSpecifiedTests --tests $tests'
    uat:
      - step:
          name: Show SFDX Version
          runs-on:
            - self.hosted
          script:
            - sfdx update
            - sfdx --version
            - sfdx plugins --core
      - step:
          name: Deploy to Staging
          runs-on:
            - self.hosted
          deployment: Staging
          script:
            - echo $UAT_SFDX_AUTH_URL > sfdx_auth_url.txt
            - sfdx force:auth:sfdxurl:store --sfdxurlfile sfdx_auth_url.txt --setalias $SF_USERNAME --json
            - sfdx force:config:set defaultusername=$SF_USERNAME
            - sfdx config:get defaultusername
            #- tests=$(sfdx sfpowerkit:source:apextest:list -p force-app --json | jq -r '.result | join(",")')
            - tests=$(cat specifiedtests.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            - '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --log-level fatal --test-level NoTestRun || sf project deploy start --source-dir force-app/ --log-level fatal --test-level RunSpecifiedTests --tests $tests'
    main:
      - step:
          name: Show SFDX Version
          runs-on:
            - self.hosted
          script:
            - sfdx update
            - sfdx --version
            - sfdx plugins --core
      - step:
          name: Deploy to Production
          runs-on:
            - self.hosted
          deployment: Production
          script:
            - echo $PRO_SFDX_AUTH_URL > sfdx_auth_url.txt
            - sfdx force:auth:sfdxurl:store --sfdxurlfile sfdx_auth_url.txt --setalias $SF_USERNAME --json
            - sfdx force:config:set defaultusername=$SF_USERNAME
            - sfdx config:get defaultusername
            #- tests=$(sfdx sfpowerkit:source:apextest:list -p force-app --json | jq -r '.result | join(",")')
            - tests=$(cat specifiedtests.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            - '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --log-level fatal --test-level NoTestRun || sf project deploy start --source-dir force-app/ --log-level fatal --test-level RunSpecifiedTests --tests $tests'
