image: nubika/sfdxplus-delta:latest

pipelines:
  pull-requests:
    '**': #this runs as default for any branch not elsewhere defined
      - step:
          name: Show Salesforce CLI Version
          runs-on:
            - self.hosted
          script:
            - sf update
            - sf --version
            - sf plugins --core
      - step:
          name: Validate
          runs-on:
            - self.hosted
          script:
            - '[[ "${BITBUCKET_PR_DESTINATION_BRANCH}" == "main" ]] && SFDX_AUTH_URL=$PRO_SFDX_AUTH_URL'
            - '[[ "${BITBUCKET_PR_DESTINATION_BRANCH}" == "uat" ]] && SFDX_AUTH_URL=$UAT_SFDX_AUTH_URL'
            - '[[ "${BITBUCKET_PR_DESTINATION_BRANCH}" == "dev" ]] && SFDX_AUTH_URL=$DEV_SFDX_AUTH_URL'
            - if [ -z "$SFDX_AUTH_URL" ]; then echo "No SFDX_AUTH_URL defined for branch ${BITBUCKET_PR_DESTINATION_BRANCH}"; exit; fi
            - echo $SFDX_AUTH_URL > sf_auth_url.txt
            - sf org login auth:web:login --sfdx-url-file sf_auth_url.txt --set-alias $SF_USERNAME --json
            - sf config set target-org=$SF_USERNAME
            - sf config get target-org
            - tests=$(cat ci-config/specified-test.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            - '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --test-level NoTestRun --checkonly --verbose || sf project deploy start --source-dir force-app/ --test-level RunSpecifiedTests --tests $tests --checkonly --verbose'
  branches:
    dev:
      - step:
          name: Show Salesforce CLI Version
          runs-on:
            - self.hosted
          script:
            - sf update
            - sf --version
            - sf plugins --core
      - step:
          name: Deploy to Test
          runs-on:
            - self.hosted
          deployment: Test
          script:
            - echo $DEV_SFDX_AUTH_URL > sf_auth_url.txt
            - sf org login auth:web:login --sfdx-url-file sf_auth_url.txt --set-alias $SF_USERNAME --json
            - sf config set target-org=$SF_USERNAME
            - sf config get target-org
            - tests=$(cat ci-config/specified-test.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            - '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --test-level NoTestRun || sf project deploy start --source-dir force-app/ --test-level RunSpecifiedTests --tests $tests'
    uat:
      - step:
          name: Show Salesforce CLI Version
          runs-on:
            - self.hosted
          script:
            - sf update
            - sf --version
            - sf plugins --core
      - step:
          name: Deploy to Staging
          runs-on:
            - self.hosted
          deployment: Staging
          script:
            - echo $UAT_SFDX_AUTH_URL > sf_auth_url.txt
            - sf org login auth:web:login --sfdx-url-file sf_auth_url.txt --set-alias $SF_USERNAME --json
            - sf config set target-org=$SF_USERNAME
            - sf config get target-org
            - tests=$(cat ci-config/specified-test.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            - '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --test-level NoTestRun || sf project deploy start --source-dir force-app/ --test-level RunSpecifiedTests --tests $tests'
    main:
      - step:
          name: Show Salesforce CLI Version
          runs-on:
            - self.hosted
          script:
            - sf update
            - sf --version
            - sf plugins --core
      - step:
          name: Deploy to Production
          runs-on:
            - self.hosted
          deployment: Production
          script:
            - echo $PRO_SFDX_AUTH_URL > sf_auth_url.txt
            - sf org login auth:web:login --sfdx-url-file sf_auth_url.txt --set-alias $SF_USERNAME --json
            - sf config set target-org=$SF_USERNAME
            - sf config get target-org
            - tests=$(cat ci-config/specified-test.txt | tr '\n' ',' | sed 's/\(.*\),/\1 /')
            - '[[ -z "$tests" ]] && sf project deploy start --source-dir force-app/ --test-level NoTestRun || sf project deploy start --source-dir force-app/ --test-level RunSpecifiedTests --tests $tests'
