/*---item---*/
.d-flex{
    display: flex;
}
.ref-list-mobile-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.2rem 0;
}
.ref-list-mobile-item.ref-list-mobile-actions{
    justify-content: space-between;
}
.ref-list-mobile-item .ref-list-mobile-col {
    width: 35%;
}
.ref-list-mobile-item .ref-list-mobile-col + .ref-list-mobile-col {
    width: 65%;
}
.ref-list-mobile-item .ref-list-mobile-col-full {
    width: 100%;
}
.ref-list-mobile-item .ref-list-mobile-units{
	display: flex;
}
.ref-list-mobile-item .ref-list-mobile-units lightning-input{
	flex: 2;
} 
.ref-list-mobile-more-info-btn{
    display: block;
    padding: 0.35rem 0;
}
.ref-list-mobile-more-info{
    background: #f9f9f9;
    padding: 0.5rem;
	margin-bottom: 0.35rem;
}
.ref-list-mobile-more-info .ref-list-mobile-code{
	display: flex;
}
.ref-list-mobile-more-info .ref-list-mobile-code lightning-input{
	flex: 2;
} 
.ref-list-mobile-more-info .weight-info{
    display: inline-flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
.ref-list-mobile-more-info  .weight-info-item{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.ref-list-mobile-more-info .weight-info-item img{
	height: 1.5rem;
    margin: 0.2rem 0.5rem;
}