.table-refs{ 
    width: 100%;
    border-collapse: collapse;
}
.table-refs tr:nth-of-type(odd) {
    background: #f9f9f9;
}
.table-refs th {
    background: #003865;
    color: #fff;
}
.table-refs th {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: left;
}
.table-refs td {
    padding: 0.5rem;
    text-align: left;
}
@media  (max-width: 991px) {
	.table-refs, .table-refs thead, .table-refs tbody, .table-refs th, .table-refs td, .table-refs tr {
		display: block;
	}
	.table-refs thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table-refs td {
		border: none;
		border-bottom: 1px solid #f9f9f9;
		position: relative;
		padding-left: 50%;
	}
	.table-refs td:before {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		width: 45%;
		padding-right: 0.75rem;
		white-space: nowrap;
	}
    .table-refs tbody tr td::before {
		content: attr(data-title);
	}
}

.filterBox{ 
    border: rgb(63, 63, 63) 1px solid;
    background: #eee;
    cursor: pointer;
}

/* SFDC defaults */
:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

lightning-breadcrumbs {
    display: block;
}

.product-information {
    display: flex;
}

figure {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
}

img {
    object-fit: contain;
}

.heading {
    flex-grow: 1;
}

.details-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    min-height: 400px;
}

.price {
    align-self: end;
}

/* CSS Styling for narrow screens (e.g. phones) */
@media only screen and (max-width: 48em) {
    /* SLDS token: mqSmall */
    .product-information {
        flex-direction: column;
    }

    .details-area {
        padding-top: var(--lwc-spacingSmall);
    }

    .image {
        align-self: center;
    }

    figure {
        width: 200px;
        height: 200px;
    }
}